./android/**/*.class

# Mobile Tools for Java (J2ME)
./android/**/.mtj.tmp/

# Package Files #
./android/**/*.jar
./android/**/*.war
./android/**/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
./android/**/hs_err_pid*
./android/.idea
