[project]
	description = DD-WRT Companion for mobile devices.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Armel S. (rm3l)
[access "refs/for/refs/*"]
	read = group user/Armel S. (rm3l)
	push = group user/Armel S. (rm3l)
	label-Code-Review = -2..+2 group user/Armel S. (rm3l)
	label-Verified = -1..+1 group user/Armel S. (rm3l)
	rebase = group user/Armel S. (rm3l)
	removeReviewer = group user/Armel S. (rm3l)
	submit = group user/Armel S. (rm3l)
[access "refs/heads/*"]
	read = group user/Armel S. (rm3l)
	create = group user/Armel S. (rm3l)
	push = +force group user/Armel S. (rm3l)
	pushMerge = group user/Armel S. (rm3l)
[access "refs/tags/*"]
	push = +force group user/Armel S. (rm3l)
	pushTag = group user/Armel S. (rm3l)
	pushSignedTag = group user/Armel S. (rm3l)
