<?xml version="1.0" encoding="utf-8"?><!--
DD-WRT Companion is a mobile app that lets you connect to,
monitor and manage your DD-WRT routers on the go.

Copyright (C) 2014  Armel Soro

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Contact Info: Armel Soro &lt;apps+ddwrt AT rm3l DOT org&gt;
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.rm3l.ddwrt">

    <!-- To connect to the router, and donation providers such as Flattr, as well as Feedback Server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- This permission is actually no longer needed, as the PlayStore version is paying (to support the project),
        and the F-Droid version will not feature Google In-App Billng -->
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->

    <!-- To get DhcpInfo, so as to default forms with the current gateway -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Saving router usage DB -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- ACRA Error Reporting, if the user accepts to send their device IDs -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DDWRTApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDark"
        tools:replace="android:theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.rm3l.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".mgmt.RouterManagementActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DDWRTMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mgmt.RouterManagementActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.mgmt.RouterManagementActivity" />
        </activity>
        <activity
            android:name=".donate.DonateActivity"
            android:excludeFromRecents="true"
            android:label="@string/support_app"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:excludeFromRecents="true"
            android:label="Chart"
            android:parentActivityName=".DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".settings.RouterSettingsActivity"
            android:label="@string/title_activity_router_settings"
            android:parentActivityName=".DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".tiles.status.wireless.WirelessIfaceQrCodeActivity"
            android:label="@string/wifi_qr_code"
            android:parentActivityName=".DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".settings.RouterManagementSettingsActivity"
            android:label="@string/title_activity_router_settings"
            android:parentActivityName="org.rm3l.ddwrt.mgmt.RouterManagementActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.mgmt.RouterManagementActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tiles.services.vpn.EditOpenVPNClientSettingsActivity"
            android:label="@string/title_openvpncl_settings"
            android:parentActivityName=".DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".tiles.status.router.RouterCpuInfoActivity"
            android:label="@string/title_cpuinfo"
            android:parentActivityName=".DDWRTMainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".tiles.status.router.RouterMemInfoActivity"
            android:label="@string/title_meminfo"
            android:parentActivityName=".DDWRTMainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.DDWRTMainActivity" />
        </activity>

    </application>

</manifest>
