<?xml version="1.0" encoding="utf-8"?>
<!--
DD-WRT Companion is a mobile app that lets you connect to,
monitor and manage your DD-WRT routers on the go.

Copyright (C) 2014  Armel Soro

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Contact Info: Armel Soro &lt;apps+ddwrt AT rm3l DOT org&gt;
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.rm3l.ddwrt" >

    <!-- "Normal Permission" -->
    <!-- To connect to the router, and donation providers such as Flattr, as well as Feedback Server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         This permission is actually no longer needed, as the PlayStore version is paying (to support the project),
        and the F-Droid version will not feature Google In-App Billng
    -->
    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->

    <!-- To get DhcpInfo, so as to default forms with the current gateway -->
    <!-- "Normal Permission" -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- "Normal Permission" -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- /!\ "Dangerous Permission" -->
    <!-- Saving router usage DB and sharing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--
    Any app that declares the WRITE_EXTERNAL_STORAGE permission is
    implicitly granted the READ_EXTERNAL_STORAGE permission.
    -->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <!-- "Normal Permission" -->
    <!-- For background service notifications -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- "Normal Permission" -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Protection level: normal -->
    <!-- Required up to Android 4.2 / 4.3-->
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="18"/>

    <!-- For Samsung SDK -->
    <uses-permission
        android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION" />

    <!-- Protection level: normal -->
    <!-- This is to create/update home screen shortcuts to routers -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>-->

    <!-- Protection level: ??? -->
    <!-- To write NFC tag (for WiFi networks), or 'Touch to connect' feature -->
    <uses-permission android:name="android.permission.NFC" />

    <!--
    This is a situation where we want a dependency but
    not the permissions that the dependency wants.
    Some of those permissions come from Google Play Services dependency. They
    are not necessary for the app itself, but are added by the Manifest Merger. So remove them.
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" tools:node="remove" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" tools:node="remove" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
        tools:node="remove" />

    <application
        android:name=".DDWRTApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:backupAgent=".backup.DDWRTCompanionBackupAgent"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_ddwrt_companion"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDark"
        tools:replace="android:theme,android:icon" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIex8fLj0PcvM6dwNd7Je9mgYuzCTRw4IZq5_jBQ" />
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- FIXME Change this for the free app to 'org.rm3l.ddwrt.free.fileprovider' -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.rm3l.ddwrt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".mgmt.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BackgroundService"
            android:exported="false"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- App Shortcuts -->
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".mgmt.RouterManagementActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >

            <intent-filter>
                <action android:name="android.intent.action.APP_ERROR" />
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="org.rm3l.ddwrt.OPEN_ADD_ROUTER_WIZARD"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".main.DDWRTMainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:parentActivityName=".mgmt.RouterManagementActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >

            <intent-filter>
                <action android:name="android.intent.action.APP_ERROR" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="ddwrt-companion.rm3l.org" />
                <data android:pathPrefix="/routers" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.mgmt.RouterManagementActivity" />
        </activity>
        <activity
            android:name=".help.HelpActivity"
            android:excludeFromRecents="true"
            android:label="@string/help"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".help.ChangelogActivity"
            android:excludeFromRecents="true"
            android:label="@string/what_s_new"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".donate.DonateActivity"
            android:excludeFromRecents="true"
            android:label="@string/support_app"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />
        <!--<activity-->
            <!--android:name="org.acra.CrashReportDialog"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:finishOnTaskLaunch="true"-->
            <!--android:windowSoftInputMode="adjustResize" />-->
        <activity
            android:name=".tiles.status.wan.WANMonthlyTrafficActivity"
            android:label="WAN Monthly Traffic"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>
        <activity
            android:name=".settings.RouterSettingsActivity"
            android:label="@string/title_activity_router_settings"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>
        <activity
            android:name=".tiles.status.wireless.WirelessIfaceQrCodeActivity"
            android:label="@string/wifi_qr_code"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>
        <activity
            android:name=".settings.RouterManagementSettingsActivity"
            android:label="@string/title_activity_router_settings"
            android:parentActivityName=".mgmt.RouterManagementActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rm3l.ddwrt.mgmt.RouterManagementActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tiles.services.vpn.client.EditOpenVPNClientSettingsActivity"
            android:label="@string/title_openvpncl_settings"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize" 
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>
        <activity
            android:name=".tiles.status.router.RouterCpuInfoActivity"
            android:label="@string/title_cpuinfo"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>
        <activity
            android:name=".tiles.status.router.RouterMemInfoActivity"
            android:label="@string/title_meminfo"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>
        <activity
            android:name=".tiles.status.wireless.ActiveIPConnectionsDetailActivity"
            android:label="@string/title_ip_connections"
            android:launchMode="standard"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <!-- Actions Widget -->
        <receiver
            android:name=".widgets.home.actions.RouterActionsWidgetProvider"
            android:label="DD-WRT: Router Actions"
            android:icon="@drawable/actions_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.rm3l.ddwrt.widgets.home.actions.ACTION_REBOOT_ROUTER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/actionswidget_info" />
        </receiver>

        <activity 
            android:name=".widgets.home.actions.RouterActionsWidgetConfigureActivity" 
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- WOL Widget -->
        <receiver
            android:name=".widgets.home.wol.WOLWidgetProvider"
            android:label="DD-WRT: Wake on LAN"
            android:icon="@drawable/wol_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.rm3l.ddwrt.widgets.home.wol.ACTION_WAKE_HOST" />
                <action android:name="org.rm3l.ddwrt.widgets.home.wol.ACTION_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wolwidget_info" />
        </receiver>
        <activity 
            android:name=".widgets.home.wol.WOLWidgetConfigureActivity" 
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name=".widgets.home.wol.WOLWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!-- TODO Connected Hosts Widget -->
        <!--<receiver-->
            <!--android:name=".widgets.home.clients.ConnectedHostsWidgetProvider"-->
            <!--android:label="DD-WRT: Clients"-->
            <!--android:icon="@drawable/wol_widget">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
                <!--<action android:name="org.rm3l.ddwrt.widgets.home.clients.ACTION_DISABLE_WAN_ACCESS" />-->
                <!--<action android:name="org.rm3l.ddwrt.widgets.home.clients.ACTION_ENABLE_WAN_ACCESS" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/wolwidget_info" />-->
        <!--</receiver>-->
        <!--<activity android:name=".widgets.home.clients.ConnectedHostsWidgetConfigureActivity" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; The service serving the RemoteViews to the collection widget &ndash;&gt;-->
        <!--<service-->
            <!--android:name=".widgets.home.clients.ConnectedHostsWidgetService"-->
            <!--android:permission="android.permission.BIND_REMOTEVIEWS"-->
            <!--android:exported="false" />-->

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".tiles.services.wol.EditWOLDaemonSettingsActivity"
            android:label="@string/title_auto_wol_settings"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".widgets.UpgradeDialogAsActivity"
            android:label="@string/title_activity_dialog_as"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"/>

        <activity
            android:name=".widgets.home.actions.RouterRebootWidgetConfirmationDialogFromWidgetActivity"
            android:label="@string/title_activity_dialog_as"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true" />

        <activity
            android:name=".widgets.home.wol.RouterWolWidgetConfirmationDialogFromWidgetActivity"
            android:label="@string/title_activity_dialog_as"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"/>
            
        <activity
            android:name=".tiles.status.wireless.EditWirelessSecuritySettingsActivity"
            android:label="Wireless Security Settings"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".actions.ManageRouterAliasesActivity"
            android:label="Manage Router Aliases"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".actions.activity.SpeedTestActivity"
            android:label="Speed Test"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>

        <activity
            android:name=".settings.RouterSpeedTestSettingsActivity"
            android:label="@string/speed_test_router_settings"
            android:parentActivityName=".actions.activity.SpeedTestActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actions.activity.SpeedTestActivity" />
        </activity>

        <activity
            android:name=".tiles.dashboard.network.IPGeoActivity"
            android:label="Speed Test"
            android:parentActivityName=".main.DDWRTMainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.DDWRTMainActivity" />
        </activity>

        <activity
            android:name="com.airbnb.deeplinkdispatch.DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ddwrt" />
                <data android:scheme="dd-wrt" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.rm3l.ddwrt.deeplinks.RouterActionsDeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay"/>

        <activity
            android:name=".actions.activity.OpenWebManagementPageActivity"
            android:excludeFromRecents="true"
            android:label="Web Interface"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".mgmt.register.ManageRouterFragmentActivity"
            android:label="Add Router"
            android:parentActivityName=".mgmt.RouterManagementActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mgmt.RouterManagementActivity" />
        </activity>

        <activity android:name=".welcome.GettingStartedActivity"
            android:theme="@style/WelcomeScreenTheme"/>

        <activity
            android:name="org.wordpress.passcodelock.PasscodeUnlockActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.wordpress.passcodelock.PasscodeManagePasswordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name=".feedback.SendFeedbackBroadcastReceiver"/>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <service android:name=".service.DDWRTCompanionServiceImpl">
            <intent-filter>
                <!-- Filter to communicate with the tasker plugin only -->
                <action android:name="org.rm3l.ddwrt.IDDWRTCompanionService" />
            </intent-filter>
        </service>

        <!-- Firebase (FCM) -->
        <service
            android:name=".service.firebase.DDWRTCompanionFirebaseMessagingService">
            <!-- message handling beyond receiving notifications on apps in the background -->
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.firebase.DDWRTCompanionFirebaseInstanceIDService">
            <!-- handle the creation, rotation, and updating of registration tokens -->
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf40a9722838d1959a1a770881926ee96e4b94f1" />
    </application>

</manifest>